div#tvOnline{
    margin: 20px auto 25px auto;
    text-align: center;
}

div#tvOnline a.link{
    color: white;
}

div#tvOnline ul{
    list-style: none;
}

div#tvOnline ul li{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

div#tvOnline ul li img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    div#tvOnline ul li img{
        width: 100px;
        height: 100px;
        
    }
    div#tvonline{
        background-color: red;
    }
}